.container {
  width: 23%;
  margin-top: 8%;
  height: 100%;
}

.contribute:hover {
  cursor: pointer;
}

.contact:hover {
  cursor: pointer;
}


.modal-content {
    height: 99%;
}

.modal-body {
  padding: 0;
}

h6{
  color: gray;
}