.btnSelector {

  color: white;

  height: 36px;
}

.btnSelectorEnd {
  background-color: white;
  color: black;
}

.btnSelectorEnd:hover {


}

.btnSelector:hover {

  color: white;
  height: 36px;
}

.dropdownStyle::-webkit-scrollbar {
    display: none;
}

.rotate6 {
    /* transform: rotate(270deg);*/
     margin-top: 22%;
     border-style: solid;
     border-color: white;
     border-width: thin;
     border-radius: 2px;
     text-align: center;
     height: 100%;
     background-color: #197cb4;
     color: white;
     /*background-color: black;*/
     width: 25%;
     float: right;
     /*width: "180px", height: "25px"*/
}

.innerText {
  border-right: 2px solid white;
  border-right-style: dashed;
  height: 100%;
  width: 50%;

  padding-top: 10%;
  padding-bottom: 10%;
}

.rotate9 {
     transform: rotate(270deg);
     margin-top: 220%;
  
     font-size: 100%;
}

.hackText {
  color: black;
}

.hackText:hover {
  color: white;
}



.rotate6:hover .innerText {


  border-right: 2px solid black;
  border-right-style: dashed;
}


.rotate6:hover {

  background-color: white;
  color: black;
  cursor: pointer;
  border-style: solid;
  border-color: #00AAFE;
  border-width: thin;

  background-color: white;

}

.btnSelectorClicked {

  background-color: white;
  color: black;
  height: 36px;
}

.engStyle {
  background-color: #f98686 !important;
}

/*
.closeFilter {
  transform: translate(-10vw, -50vh);
}
*/
.filterTab {
  width: 7.5%;
}

.filterTabMove {
  width: 7.5%;
}

.popover {
  z-index: 1000;
}

.filterTabExtra {
  width: 7.5%;
}

.searchBar {
  transform: translateX(0%);
}

.homeButton {

}

.homeButton:hover {
  cursor: pointer;
}

.searchBar:hover {

}
#demo-2 input[type=search] {
	width: 15px;
  height: 90%;
	padding-left: 9px;
	color: transparent;
  background-color: white;
  transform: translate(0px, 40%);
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
	background-color: #fff;
}
#demo-2 input[type=search]:focus {
	width: 90px;
  height: 90%;
	padding-left: 32px;
	color: #000;
	background-color: #fff;

  transform: translate(-50px, 10px);
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}


input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #1D4999;
	padding: 9px 10px 9px 32px;
	width: 55px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #00AAFE;

	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder {
	color: #999;
}

input::-webkit-input-placeholder {
	color: #999;
}
