.btnSelector {
  border-style: solid;
  border-width: medium;
  border-color: #00AAFE;
  color: white;
  background-color: #00AAFE;
  height: 36px;
}

.btnSelector:hover {

  background-color: #00AAFE;
  color: white;
  height: 36px;
}

.rotate6 {
     transform: rotate(270deg);
     padding: "0 0 0 0";
     margin-top: 5vh;
     background-color:  #00AAFE;
}

.rotate6:hover {

  background-color: #0069FE;
}
.btnSelectorClicked {

  background: #00AAFE;
  color: white;
  height: 36px;
}


.closeFilter {
  transform: translate(-10vw, -50vh);
}

.filterTab {
  width: 15vh;
}

.filterTabMove {
  width: 15vh;
  transform: translateX(-2vw);
}

.popover {
  z-index: 1000;
}

.filterTabExtra {
  width: 15vh;
  transform: translateX(-7vw);
}

.searchBar {
  transform: translateX(0px, 15px);
}

.searchBar:hover {

}
#demo-2 input[type=search] {
	width: 15px;
  height: 90%;
	padding-left: 10px;
	color: transparent;
  background-color:  #00AAFE;
  transform: translate(40px, 10px);
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
	background-color: #fff;
}
#demo-2 input[type=search]:focus {
	width: 90px;
  height: 90%;
	padding-left: 32px;
	color: #000;
	background-color: #fff;

  transform: translate(-50px, 10px);
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}


input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #1D4999;
	padding: 9px 10px 9px 32px;
	width: 55px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;

	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}

input::-webkit-input-placeholder {
	color: #999;
}
