.containerHome {

}

modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 2px !important;
    border-color: white;
    border-style: solid;
}

.skylight-dialog{
    width: 75% !important;
    top: 40% !important;
    left: 38% !important;
}