.leftPaneModalTabBody {

    width: 100%;
    height: 25%;
    padding-left: 0px;
    font-size: medium;
    border-bottom-color: #ACACAC;
    border-bottom-style: solid;
    border-bottom-width: thin;
    overflow-y: auto;

}

.modalHover:hover {
    cursor: pointer;
    background: #9B089A;
    color: white;
}

.modalHover {

    color: #9B089A;
    border-bottom-color: #ACACAC;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-right-color: #ACACAC;
    border-right-width: thin;
    border-right-style: solid;

}
