.leftPaneTabBody {

}

.rotate5 {
     transform: rotate(270deg);
     margin-top: 180%;
     color: black;
}

.funcColor {
    height: 33.33%;
    font-weight: 400;
    font-size: 150%;
    background-color: rgb(172, 216, 206);
    border-color: rgb(110, 169, 155);
    color: white;
    border-style: solid;
    border-width: thin;
    opacity: 1;
}

.matColor {
  height: 33.33%;
  font-weight: 400;
  font-size: 150%;
  color: white;
  border-color: rgb(254, 172, 0);
  border-style: solid;
  border-width: thin;
  opacity: 1;
  background-color: rgb(254, 205, 102);
}

.fabColor {

  background-color: rgb(133, 194, 219);
  border-color: rgb(0, 181, 254);
  height: 33.33%;
  font-weight: 400;
  font-size: 150%;
  color: white;
  border-style: solid;
  border-width: thin;
  opacity: 1;
}


.funcColor:hover {
  background-color: rgb(110, 169, 155);
  cursor: pointer;
}

.matColor:hover {
  background-color: rgb(254, 172, 0);
  cursor: pointer;
}

.fabColor:hover {
  background-color: rgb(0, 181, 254);
  cursor: pointer;
}

.rotate5:hover {
    color: black;
    cursor: pointer;
}

.imgStyle {

  width: 100%;

  object-fit: cover;
  margin-top: 30%
}
