.leftPaneModalTabBody {

    width: 20vh;
    height: 33.33%;
    padding-left: 0px;
    font-size: medium;
    overflow-y: auto;

}

.modalHover:hover {
    cursor: pointer;
    background: black;
    color: white;
    font-size: 13px;
}

.modalHover {

    color: white;
    border-bottom-color: #ACACAC;
    border-bottom-width: thin;
    border-bottom-style: solid;
    /*border-right-color: #ACACAC;
    border-right-width: thin;
    border-right-style: solid;*/
    font-size: 13px;

}
