.leftPanePopoverTabBody {

    width: 100%;
    padding-left: 10px;
    border-bottom-color: #ACACAC;
    background: white;
    border-bottom-style: solid;
    border-bottom-width: thin;
    cursor: pointer;

}

.leftPanePopoverTabBodySelected {

    width: 100%;
    padding-left: 10px;
    font-color: blue;
    background: #B2AFAF;
    border-bottom-color: #ACACAC;
    border-bottom-style: solid;
    border-bottom-width: thin;
    cursor: pointer;
}

.leftPanePopoverTabBody:hover {
    color: blue;
}

.popoverHover:hover {
    cursor: pointer;
    color: blue;
}

.popoverHover {

}
