.leftPanePopoverTabBody {

    width: 100%;
    padding-left: 10px;
    border-bottom-color: #ACACAC;
    border-bottom-style: solid;
    border-bottom-width: thin;
    cursor: pointer;

}

.leftPanePopoverTabBodySelected {

    width: 100%;
    padding-left: 10px;
    background: #B2AFAF;
    border-bottom-color: #ACACAC;
    border-bottom-style: solid;
    border-bottom-width: thin;
    cursor: pointer;
    color: black;
}

.leftPanePopoverTabBody:hover {
    color: blue;
}

.popoverHover:hover {
    cursor: pointer;
    color: blue;
}

.popoverHover {

}
