.leftPaneTabBody {

    height: 33.33%;
    font-weight: 450;
    font-size: medium;
    color: white;
    border-style: solid;
    border-width: thin;
}

.rotate5 {
     transform: rotate(270deg);
     margin-top: 125%;
}

.rotate5:hover {
    color: white;
    cursor: pointer;
}

.imgStyle {

  height: 7vh;
  width: 4vw;
  object-fit: cover;
  transform: translate(-0.25vw, 5vh);
}
