svg {

}
/*
Russian blue pattern:
#7be3f6
#4499a9
#276a76
#133b43
#03090a
*/

svg g {
  fill: black;
  fill-opacity: 0.9;
}
svg g:hover {
  fill: #6c757d;
  fill-opacity: 1.0;
  cursor: pointer;
}
svg g:hover text {
  fill-opacity: 1;
}

svg g polygon {
  stroke: #6c757d;
  stroke-width: 0.2;
  transition: fill-opacity .5s;
}
svg g text {
  font-size: 0.11em;
  font-weight: bold;
  fill: white;
  fill-opacity: 0.7;
  transition: fill-opacity .5s;
}
svg path {
  fill: none;
  /*stroke: #7be3f6;*/
  stroke-width: 0.6em;
  stroke-opacity: 0.7;
  /*stroke-linecap: round;
  stroke-linejoin: round;*/
}
