.leftPaneSearch {

    width: 8.5vh;
    height: 100%;
    background-color: black;
    font-weight: bold;
    font-size: 12.5px;
    color: white;
    border-color: #8C3636;
    border-style: solid;
    border-width: medium;
}

.rotate {
     transform: rotate(270deg);
     margin-top: 60px;
}

.rotate:hover {
    color: yellow;
    cursor: pointer;
}

.searchStore {
  height: 25%;
  width: 100%;
  display: flex;
  overflow-x: hidden;
}

.layoutSearch {
    height: 100vh;
    width: 100%;
    display: block;
    background-color: #87A2A0;
}

.bgimg {

    height: 95%;
    width: 45vh;

    position: relative;
    text-align: center;
    color: white;
}

.img {
  background-image: url('C:/Users/admin/Documents/mini-search/app/src/wearblaemediastudio.jpg');
  height: 98%;
  width: 100%;
  object-fit: cover;
/*
    */
}

.container {
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  font-weight: bold;
  font-size: large;
}
