.leftPaneSearch {

    width: 2.8vw;
    height: 100%;
    font-weight: 350;
    font-size: 110%;
    color: white;
    background-color: #c578d2;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
}

.rotate1 {
     transform: rotate(270deg);
     margin-top: 150%;
}

.searchStore {
  height: 20%;
  width: 100%;
  display: flex;
  overflow-x: hidden;
  background-color: black;
  border-color: black;
  border-style: solid;
  border-width: large;
}

.layoutSearch {
    height: 95%;
    width: 100%;
    display: block;
    background-color: black;
}

.bottomBar {
  height: 5%;
  width: 100%;
  background-color: black;
  display: flex;
  border-top-color: black;
  border-top-style: solid;
  border-top-width: thin;
}

.corLabel {
  color: white;
  font-weight: 350;
  background-color: #c578d2;
  margin-top: 0.25%;
  text-align: center;
  margin-left: 22.5%;
  width: 25%;
}

.searchTabContent {

  overflow: hidden;
}

.backLabel {

  color: white;
  font-weight: 350;
  margin-top: 0.25%;
  background-color: #197cb4;
  text-align: center;
  width: 15%;
}

.backLabel:hover {
  cursor: pointer;
  background-color: rgb(130, 183, 230);
}

.listSearch {
  height: 100vh;
  width: 100%;
  display: block;
  background-color: white;
  overflow-y: scroll;
}

.bgimg {

  height: 100%;
  width: 20vw;

  position: relative;
  text-align: center;
  color: white;
  margin-top: 3px;
  overflow: hidden;
  opacity: 0.9;

}

.bgimg:hover {
  /*transform: scale(1.2);*/
  opacity: 0.9;
  z-index: 10;
}

.bgimg:hover #title {
  display: block;
}

.bgimg:hover #image {

}

.bimg:hover #bookmark {
    display: block;
}

.tooltipCost {
  visibility: hidden;  /* Or display: none, depending on how you want it to behave */
}

.tooltipImp {
  visibility: hidden;  /* Or display: none, depending on how you want it to behave */
}

.tooltipWear {
  visibility: hidden;  /* Or display: none, depending on how you want it to behave */
}

.cost:hover .tooltipCost {    /* Uses the adjacent sibling selector */
  background-color: black;
  color: white;
  width: 800%;
  font-size: x-small;
  transform: translate(-88%, -140%);
  visibility: visible;  /* Or display: block */
}

.imp:hover .tooltipImp {    /* Uses the adjacent sibling selector */
  background-color: black;
  color: white;
  font-size: x-small;
  width: 950%;
  transform: translate(-88%, -117%);
  display: block;
  visibility: visible;  /* Or display: block */
}

.wear:hover .tooltipWear {    /* Uses the adjacent sibling selector */
  background-color: black;
  color: white;
  font-size: x-small;
  width: 900%;
  transform: translate(-88%, -101%);
  visibility: visible;  /* Or display: block */
  z-index: 2500 !important;
}

#title {
  display: block;
  padding-top: 0px;
}

#title1 {
  display: block;
  padding-top: 0px;
}

#title2 {
  display: block;
  padding-top: 0px;
}

#title3 {
  display: block;
  padding-top: 0px;
}

#bookmark {
  display: block;
}

.container {
  position: relative;
  text-align: center;
  color: black;
  overflow: hidden;
}

.centered {
  position: absolute;
  top: 0%;
  left: 0%;
/*  transform: translate(-50%, -125%);*/
  color: black;
  font-weight: bold;
  font-size: 105%;

  height: 35%;
  width: 100%;
  background: #f7f7f7;
  opacity: 0.7;

}

.ticker {
  position: absolute;

  top: 40%;
  transform: translate(2%, 70%);

  color: black;
  font-weight: bold;
  font-size: small;

  height: 50%;
  width: 20%;
  opacity: 1.0;

}

.cost {

  position: absolute;

  top: 75%;
  /*transform: translate(13.6vw, 67%);*/
  left: 73%;
  color: black;
  font-size: small;

  height: 50%;
  width: 10%;
}

.wear {
    position: absolute;
    top: 75%;
    left: 90%;
    /*transform: translate(17.6vw, 62%);*/

    color: black;
    font-size: small;

    height: 50%;
    width: 10%;
}

.imp {

    position: absolute;
    top: 75%;
    left: 82.5%;
    /*transform: translate(15.95vw, 67%);*/

    color: black;
    font-size: small;

    height: 50%;
    width: 10%;

}

.scrollStyle {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;
}

.scrollStyle::-webkit-scrollbar {
  display: none;
}

.itemStyle {
  padding-left: 1%;
  border-width: medium;
  border-style: solid;
  flex: 0 0 auto;
}

.itemStyle:hover{
  transform: scale(1.1);
}
