.leftPaneSearch {

    width: 8.5vh;
    height: 100%;
    font-weight: bold;
    font-size: 12.5px;
    color: #A7AFBA;
    background-color: #0F2862;
}

.rotate1 {
     transform: rotate(270deg);
     margin-top: 50px;
}

.rotate:hover {
    color: black;
    cursor: pointer;
}

.searchStore {
  height: 20%;
  width: 96vw;
  display: flex;
  overflow-x: hidden;
  background-color: black;
  border-color: black;
  border-style: solid;
  border-width: large;
}

.layoutSearch {
    height: 95vh;
    width: 95vw;
    display: block;
    background-color: black;
}

.bottomBar {
  height: 5vh;
  width: 100vw;
  background-color: black;

  display: flex;

  border-top-color: black;
  border-top-style: solid;
  border-top-width: thin;
}

.corLabel {
  margin-top: 0vh;
  margin-bottom: 0vh;
  color: #A7AFBA;
  font-weight: bold;
  font-size: small;
  background-color: #0F2862;
  height: 4.9vh;
  text-align: center;
  margin-left: 22.5vw;
  width: 25vw;
}

.backLabel {
  margin-top: 0vh;
  margin-bottom: 0vh;
  color: #A7AFBA;
  font-weight: bold;
  font-size: small;
  background-color: #0F2862;
  height: 4.9vh;
  text-align: center;
  margin-left: 0vw;
  width: 15vw;
}

.backLabel:hover {
  cursor: pointer;
  color: blue;
}

.listSearch {
  height: 100vh;
  width: 100vw;
  display: block;
  background-color: white;
  overflow-y: scroll;
}

.bgimg {

    height: 100%;
    width: 20vw;

    position: relative;
    text-align: center;
    color: white;
    margin-top: 3px;
    overflow: hidden;
    opacity: 0.9;

}

.bgimg:hover {
  /*transform: scale(1.2);*/
  opacity: 0.9;
  z-index: 10;
}

.bgimg:hover #title {
  display: block;
}

.bgimg:hover #image {

}

.bimg:hover #bookmark {
    display: block;
}

.tooltipCost {
  visibility: hidden;  /* Or display: none, depending on how you want it to behave */
}

.tooltipImp {
  visibility: hidden;  /* Or display: none, depending on how you want it to behave */
}

.tooltipWear {
  visibility: hidden;  /* Or display: none, depending on how you want it to behave */
}

.cost:hover .tooltipCost {    /* Uses the adjacent sibling selector */
  background-color: black;
  color: white;
  width: 3vw;
  font-size: smaller;
  transform: translate(-0.5vw, -6vh);
  visibility: visible;  /* Or display: block */
}

.imp:hover .tooltipImp {    /* Uses the adjacent sibling selector */
  background-color: black;
  color: white;
  font-size: smaller;
  width: 6vw;
  transform: translate(-2vw, -6vh);
  display: block;
  visibility: visible;  /* Or display: block */
}

.wear:hover .tooltipWear {    /* Uses the adjacent sibling selector */
  background-color: black;
  color: white;
  font-size: smaller;
  width: 4.5vw;
  transform: translate(-2vw, -6vh);
  visibility: visible;  /* Or display: block */
}

#title {
  display: block;
  padding-top: 0px;
}

#title1 {
  display: block;
  padding-top: 0px;
}

#title2 {
  display: block;
  padding-top: 0px;
}

#title3 {
  display: block;
  padding-top: 0px;
}

#bookmark {
  display: block;
}

.container {
  position: relative;
  text-align: center;
  color: black;
  overflow: hidden;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -125%);
  color: black;
  font-weight: bold;
  font-size: small;

  height: 35%;
  width: 100%;
  background: #f7f7f7;
  opacity: 0.7;

}

.ticker {
  position: absolute;

  top: 40%;
  transform: translate(2%, 70%);

  color: black;
  font-weight: bold;
  font-size: small;

  height: 50%;
  width: 20%;
  opacity: 1.0;

}

.cost {

  position: absolute;

  top: 40%;
  transform: translate(13.6vw, 68%);

  color: black;
  font-size: smaller;

  height: 50%;
  width: 10%;
}

.wear {
    position: absolute;
    top: 40%;
    transform: translate(17.6vw, 63%);

    color: black;
    font-size: small;

    height: 50%;
    width: 10%;
}

.imp {

    position: absolute;
    top: 40%;
    transform: translate(15.95vw, 67%);

    color: black;
    font-size: small;

    height: 50%;
    width: 10%;

}
